.activity__tabs__container {
  overflow: auto;
}
.activity__tabs__container a {
  white-space: nowrap;
}
.activities_buttons_groups {
  /* border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(19, 49, 89, 0.05); */
  flex-wrap: wrap;
}
.activities_buttons_groups .button_group {
  height: 40px;
  overflow: hidden;
}
.activities_buttons_groups .button_group .button_group_single_btn svg {
  fill: var(--dark-blue-65);
}
.activities_buttons_groups .button_group .button_group_single_btn {
  border: 1px solid var(--gray_dark);
  transition: 0.3s linear;
  height: 100%;
  cursor: pointer;
}
.activities_buttons_groups .button_group .button_group_single_btn:hover i,
.activities_buttons_groups .button_group .button_group_single_btn.active i {
  color: var(--white);
}
.activities_buttons_groups .button_group .button_group_single_btn:hover {
  color: var(--white);
  background: var(--light_blue) !important;
  border-color: var(--light_blue);
}
.activities_buttons_groups .button_group .button_group_single_btn:hover svg {
  fill: var(--white);
}

/* Activity calendar & list Tab */
.activity_calendar_list_tab .tabs {
  height: 40px;
  border-radius: 5px;
  width: fit-content;
}

.activity_calendar_list_tab .tabs .tab a {
  color: var(--dark_blue);
  background: var(--gray_light);
}
.activity_calendar_list_tab .tabs .tab a:first-child {
  border-right: 1px solid var(--white);
}
.activity_calendar_list_tab .tabs .tab a:hover,
.activity_calendar_list_tab .tabs .tab a.active {
  background: var(--dark_blue);
  color: var(--white);
}
.activity_calendar_list_tab .tabs .indicator {
  display: none;
}
.activity_select_field {
  height: 40px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
.activity_select_field.tasks {
  width: 124px;
}
.activity_select_field.columns {
  width: 112px;
}
.activity_select_field.actions {
  width: 93px;
}
.activity_select_field.selected_users {
  width: 158px;
}
.activity_select_field:focus {
  outline: 0;
}
.activity_select_field,
.activity_select_field option {
  font-size: 14px;
  color: var(--gray);
  font-family: var(--poppins);
}

.calendar_info_item_checkbox
  input[type="checkbox"].filled-in
  + span:not(.lever):after {
  border-radius: 5px !important;
  border-color: rgba(60, 127, 243, 0.35) !important;
  background: rgba(60, 127, 243, 0.2);
}

.calendar_info_item_checkbox
  input[type="checkbox"].filled-in
  + span:not(.lever) {
  padding-left: 25px;
}
.calendar_info_item_checkbox
  input[type="checkbox"].filled-in:checked
  + span:not(.lever):after {
  background: var(--light_blue) !important;
  border-color: var(--light_blue) !important;
}
.calendar_info_item_checkbox span {
  font-size: 14px;
}
.calendar_info_item_checkbox span i {
  transform: rotate(180deg);
  font-size: 18px;
}
